{% extends "base_generic.html" %}
{% load humanize %}
{% block title %}{{collection.name}}{% endblock %}
{% block content %}
<h1>{{collection.name}}</h1>
{% if user.is_staff %}
<span>[<a href="edit">Edit</a>]</span>
{% endif %}

<div style="display:flex">
  <div style="max-width:900px">
    {{collection.content | safe }}
  </div>
  <div style="min-width:25%">
    {% for ic in collection.image_collections %}
    <h4>{{ic.name}}</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Collection Statistics</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Modalities</td>
          <td>{{ic.modality_list}}</td>
        </tr>
        <tr>
          <td>Number of Participants</td>
          <td>{{ic.participant_count|intcomma}}</td>
        </tr>
        <tr>
          <td>Number of Studies</td>
          <td>{{ic.study_count|intcomma}}</td>
        </tr>
        <tr>
          <td>Number of Series</td>
          <td>{{ic.series_count|intcomma}}</td>
        </tr>
        <tr>
          <td>Number of Images</td>
          <td>{{ic.image_count|intcomma}}</td>
        </tr>
        <tr>
          <td>Image Size (GB)</td>
          <td>{{ic.image_size|intcomma}}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}

    <h3>Downloads</h3>
    {% for version in collection.versions %}
    <h5>Version {{version.version}}</h5>
    {% if version.downloads %}
    <table class="table">
      <thead>
        <tr>
          <th>Data Type</th>
          <th>Download all or Query/Filter</th>
        </tr>
      </thead>
      <tbody>
        {% for download in version.downloads %}
        <tr>
          <td>{{download.description}}</td>
          <td>
            <a href="/media/{{download.file}}"><img src="https://wiki.cancerimagingarchive.net/download/attachments/30671268/tcia_wiki_download_button.png">
            {% if download.nbia_search %}
            <a href="{{download.nbia_search}}" target="_"><img src="https://wiki.cancerimagingarchive.net/download/attachments/28672347/tcia_wiki_search_button.png">
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <i>{{version.description}}</i>
    {% endfor %}
  </div>
</div>

<h3>Citations</h3>
<ul>
  {% for citation in collection.citations.all %}
  <li>
    <span>{{ citation.get_citation_type_display }}</span>
    <a href="{{citation.link}}">{{citation.line}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
